@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');


html, body,main {

    margin: 0px;
    padding: 0px;

}

body{
    display: flex;
    flex-direction: column;
}



/**----------------------------header----------------------------------------*/

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    font-family: 'Dosis', sans-serif;
    color: rgb(242, 242, 242);
    font-weight: 500;
    height: 80px;
    background: rgba(78, 209, 236, 0.5)
}

#navigation-header, .lien-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    font-family: 'Dosis', sans-serif;
    color: rgb(242, 242, 242);
  
}

h1{
    font-size: 1.3em;
}

#navigation-header{
    height: 100%;
}
.lien-header{
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
}
#lien-accueil, #lien-smashing, #lien-star{
    border-left: 1px solid;
}
#lien-deezer{
    border-right: 1px solid;
    border-left: 1px solid;
}
#lien-accueil{
    background: rgba(78, 209, 236, 0.3)
}

#lien-accueil:hover {
    background: rgba(59, 191, 218, 0.3)
  }
#lien-smashing:hover, #lien-star:hover,#lien-deezer:hover{
    background: rgba(169, 241, 255, 0.3)
}



/* --------------------------------------première section lien store--------------------------------------- */

  section { 
    height: 100vh; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    flex-direction: column;
    padding: 2vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 4vw; 
  }
  section:first-of-type { 
    text-transform: uppercase;
    font-size: 7vw;
  }
  section:first-of-type, section.pop { 
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4); 
  }
  section:nth-of-type(even) { 
    background: #fff;
  }
  section:nth-of-type(1) { 
    background-image: url(fichiers/quentin-saldi-wallpaper-warrior-2.jpg); 
  }
  section:nth-of-type(3) { 
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/iceland-pool-faces.jpg); 
  }
  section:nth-of-type(5) { 
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/iceland-ice.jpg); 
  }



/*--------------------------------footer--------------------*/

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Dosis', sans-serif;
    background: rgba(78, 209, 236, 0.5);
    color: rgb(107, 86, 34);
    font-family: 'Dosis', sans-serif;
    margin-top: auto;

}

footer h5{
margin-top: 10px;

}

#img-lien-footer{
    display: flex;
}

footer img{
    width: 30px;
}

footer a{
   margin-right: 40px;
   margin-bottom: 10px;
   text-decoration: none;
   color: rgb(107, 86, 34);
}


