
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


html, body,main {

    margin: 0px;
    padding: 0px;

}

body{
    display: flex;
    flex-direction: column;
}



/**----------------------------header----------------------------------------*/

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    font-family: 'Dosis', sans-serif;
    color: rgb(242, 242, 242);
    font-weight: 500;
    height: 80px;
    background: rgba(68, 68, 68, 0.8);
}

#navigation-header, .lien-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    font-family: 'Dosis', sans-serif;
    color: rgb(242, 242, 242);
  
}

h1{
    font-size: 1.3em;
}

#navigation-header{
    height: 100%;
}
.lien-header{
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
}
#lien-accueil, #lien-smashing, #lien-star{
    border-left: 1px solid;
}
#lien-deezer{
    border-right: 1px solid;
    border-left: 1px solid;
}
#lien-accueil{
    background: rgba(61, 61, 61, 0.3)
}

#lien-accueil:hover {
    background: rgba(44, 44, 44, 0.3)
  }
#lien-smashing:hover, #lien-star:hover,#lien-deezer:hover{
    background: rgba(131, 131, 131, 0.3)
}



/* --------------------------------------première section lien store--------------------------------------- */

  section { 
    height: 100vh; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    flex-direction: column;
    padding: 2vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(236, 236, 236);
    font-family: 'Quicksand', sans-serif;
  
  }

#premier-ecran{
  flex-direction: row;
}

#logo{
  margin-left: 15%;
}

#presentation{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
padding-left: 10%;
padding-right: 10%;
  
}
#presentation img{
  width: 200px;
  }

#presentation h1{
font-size: 4em;
margin: 0;
text-shadow: 2px 1px 20px rgb(0, 0, 0);
text-align: left;
}
#presentation h2{
  font-size: 3em;
  text-shadow: 2px 1px 20px rgb(0, 0, 0);
  color: rgb(180, 183, 211);
  text-align: left;
}
#presentation p{
  font-size: 1.6em;
  text-shadow: 2px 1px 20px rgb(0, 0, 0);
  text-align: left;
  color: rgb(180, 183, 211);
  margin-bottom: 40px;
}

/**-----------------------------deuxieme screen------------------*/

#deuxieme-ecran{
  flex-direction: row;
}

#texte-deuxieme-section{
  padding-left: 40px;
  padding-right: 40px;
}

#texte-deuxieme-section h1{
  font-size: 4em;
  margin: 0;
  text-shadow: 2px 1px 20px rgb(0, 0, 0);
  text-align: left;
}
#texte-deuxieme-section p{
  font-size: 1.6em;
  text-shadow: 2px 1px 20px rgb(0, 0, 0);
  text-align: left;
  color: rgb(180, 183, 211);
  margin-bottom: 40px;
}



#capture-ecran{
  display: flex;
  
  margin: 50px;
}
#capture-ecran img{
  padding: 50px;
  
}

/**-----------------------------troisieme screen------------------*/

#troisieme-ecran{
  flex-direction: row;
}

#texte-troisieme-section{
  padding-left: 40px;
  padding-right: 40px;
}

#texte-troisieme-section h1{
  font-size: 4em;
  margin: 0;
  text-shadow: 2px 1px 20px rgb(0, 0, 0);
  text-align: left;
}
#texte-troisieme-section p{
  font-size: 1.6em;
  text-shadow: 2px 1px 20px rgb(0, 0, 0);
  text-align: left;
  color: rgb(180, 183, 211);
  margin-bottom: 40px;
}



#capture-ecran2{
  display: flex;
  
  margin: 50px;
}
#capture-ecran2 img{
  padding: 50px;
}


/**-----------------------------quatrième screen------------------*/

#quatrieme-ecran h1{
  font-size: 4em;
  margin: 0;
  text-shadow: 2px 1px 20px rgb(0, 0, 0);
}

#quatrieme-ecran h2{
  font-size: 3em;
  color: rgb(180, 183, 211);
  margin: 0;
  text-shadow: 2px 1px 20px rgb(0, 0, 0);
}

#quatrieme-ecran p{
  font-size: 1.5em;
  color: rgb(180, 183, 211);
  margin: 0;
  text-shadow: 2px 1px 20px rgb(0, 0, 0);
}

#quatrieme-ecran iframe{
  margin-top: 100px;
}


/**-----------------------------cinquième screen------------------*/




#cinquieme-ecran {
  flex-direction: row;
}
#cinquieme-ecran img{
  margin: 40px;
}


/**-----------------------------sixième screen------------------*/

#sixieme-ecran h1{
font-size: 5em;
}


#sixieme-ecran img{
  width: 70px;
  padding: 0;
}
#sixieme-ecran ul{
  display: flex;
  padding: 0px;
}
#sixieme-ecran li{
  list-style: none;
  margin-left: 30px;
  margin-right: 30px;
}










/**-----------------------------background-----------------*/




  section:nth-of-type(even) { 
    background: rgb(34, 34, 34)
  }
  section:nth-of-type(1) { 
    background-image: url(fichiers/starwalk2/mindaugas-vitkus-ju-dVR1jkmE-unsplash.jpg); 
  }
  section:nth-of-type(3) { 
    background-image: url(fichiers/starwalk2/bryan-goff-f7YQo-eYHdM-unsplash.jpg); 
  }
  section:nth-of-type(5) { 
    background-image: url(fichiers/starwalk2/michael-aPOlpOWdHic-unsplash.jpg); 
  }

  section:nth-of-type(7) { 
    background-image: url(fichiers/starwalk2/alexander-andrews-HzT5Du-UFW8-unsplash.jpg); 
  }




/*--------------------------------footer--------------------*/

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Dosis', sans-serif;
    background: rgba(27, 27, 27, 0.8);
    color: rgb(230, 230, 230);
    font-family: 'Dosis', sans-serif;
    margin-top: auto;

}

footer h5{
margin-top: 10px;

}

#img-lien-footer{
    display: flex;
}

footer img{
    width: 30px;
}

footer a{
   margin-right: 40px;
   margin-bottom: 10px;
   text-decoration: none;
   color: rgb(230, 230, 230);
}


